body {
    margin: 0;
    min-height: 100vh;
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 0.4) 0%, rgba(252, 70, 107, 0.4) 100%);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    color: rgba(250, 250, 250, 1);
}

header {
    background-color:rgba(50, 50, 50, 0.8);
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    padding: 15px 40px;
}

/* home */

.corner-logo {
    position: absolute;
    left: 20px;
    top: 15px;
    height: 100px;
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
}

nav a {
    color:rgb(250, 250, 250);
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

main {
    flex :1;
}

.main-title {
    display:grid;
    justify-content: center;
    margin-top: 100px;
}


.title-main {
    font-size: 100px;
    text-decoration: none;
}

.subtitle-main {
    font-size: 50px;
}

.about {
    color: rgb(49, 49, 49);
    margin-top: 300px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 150px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.exaroton-title {
    font-size: 25px;
    margin-left: 50px;
}

footer {
    background-color:rgb(50, 50, 50);
    display: flex;
    justify-content:space-between;
    min-height: 50px;
    padding: 20px;
}

.footer-title {
    color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.adress-details {
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 15px;
}

.contact-details {
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 15px;
}

/*  */

.title-h2 {
    color:rgb(250, 250, 250);
    text-decoration: none;
    font-size: 25px;
}

/*-----------------------------------servicii---------------------------------------*/

.servicii {
    display: flex;
    justify-content:space-between;
    margin-left: 200px;
    margin-right: 200px;
    
}

.text-on-demand {
    margin-right: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.start-by-joining {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*-----------------------------------preturi--------------------------------------*/

.preturi {
    display: flex;
    justify-content:space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.explicatie {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.credit-price {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.explicatie img {
    width: 1000px;
}

/*-----------------------------------contact----------------------------------*/

.contact-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
}

.exaroton-titlu-contact {
    text-align: center;
    color: rgb(2, 173, 2);
}

.form {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
}

.form input, .form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgb(250, 250, 250);
    border: none;
}

button {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgb(100, 150, 100);
    color: rgb(250, 250, 250);
    font-size: 17px;
    font-weight: 700;
}

button:hover {
    background-color: rgb(50, 100, 60);
}

.map iframe {
    border: 0;
    padding: 10px;
}